<!-- Vendor JS Files -->
<script src="/administrator/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/administrator/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/administrator/vendor/chart.js/chart.umd.js"></script>
<script src="/administrator/vendor/echarts/echarts.min.js"></script>
<script src="/administrator/vendor/quill/quill.js"></script>
<script src="/administrator/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/administrator/vendor/tinymce/tinymce.min.js"></script>
<script src="/administrator/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/administrator/js/main.js"></script>